<div class="searchbugform">
  <h1>BUG TRACKING SYSTEM</h1>

  <h3>SEARCH BUG</h3>
  <div>
    <label>Bug Name : </label>
    <input [(ngModel)]="bug.name" />
    <button (click)="searchBugbyName(bug.name)">Search bug by name</button><br />
  </div>
  <div>
    <label>Bug Status : </label>
    <input [(ngModel)]="bug.status" />
    <button (click)="searchBugbyStatus(bug.status)">Search bug by status</button>
  </div>
</div>

<table>
  <thead>
    <td>Bug Name</td>
    <td>Project ID</td>
    <td>Module</td>
    <td>Build Version</td>
    <td>Synopsis</td>
    <td>Product</td>
    <td>Description</td>
    <td>Submitted Date</td>
    <td>ETA</td>
    <td>Status</td>
    <td>Priority</td>
    <td>Severity</td>
    <td>Type</td>
  </thead>

  <tbody>
    <tr *ngFor="let bug of bugArray; index as i">
      <td>{{ bug.name }}</td>
      <td>{{ bug.projectId }}</td>
      <td>{{ bug.module }}</td>
      <td>{{ bug.buildVersion }}</td>
      <td>{{ bug.synopsis }}</td>
      <td>{{ bug.product }}</td>
      <td>{{ bug.description }}</td>
      <td>{{ bug.submittedOn }}</td>
      <td>{{ bug.eta }}</td>
      <td>{{ bug.status }}</td>
      <td>{{ bug.priority }}</td>
      <td>{{ bug.severity }}</td>
      <td>{{ bug.type }}</td>
    </tr>
  </tbody>
</table>
