<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div
    class="container-fluid bg-muted"
    style="padding-top: 10px; padding-bottom: 10px"
  >
    <h2 class="sectionHead">Search Bug</h2>
  </div>

  <div
    id="searchBug"
    class="container tab-pane active"
    style="padding-bottom: 30px"
  >
    <div class="row">
      <div class="col">
        <div class="form-group form-inline">
          <br />
            <input
              type="text"
              [(ngModel)]="bug.name"
              class="form-control mb-2 mr-sm-2"
              id="name"
              placeholder="Enter Bug Name"
              required
            />
            <button class="btn btn-info" (click)="searchBugbyName(bug.name)">
              Search bug by name</button
            ><br />
        </div>
      </div>

      <div class="col">
        <div class="form-group form-inline">
          <br />

            <select
              style="width: 250px"
              class="custom-select custom-select mb-3"
              id="status"
              [(ngModel)]="bug.status"
              required
            >
            <option value="">Select Bug</option>

              <option>NEW</option>
              <option>ASSIGNED</option>
              <option>OPEN</option>
              <option>FIXED</option>
              <option>PENDING_RETEST</option>
              <option>RETEST</option>
              <option>REOPEN</option>
              <option>VERIFIED</option>
              <option>CLOSED</option>
              <option>DEFERRED</option>
              <option>DUPLICATE</option>
              <option>NOT_A_BUG</option>
              <option>REJECTED</option>
              <option>COULD_NOT_REPRODUCE</option>
              <option>WONT_FIX</option>
            </select>
            <button
              class="btn btn-info"
              (click)="searchBugbyStatus(bug.status)"
            >
              Search bug by status</button
            ><br />
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table
        class="table table-bordered table-stripped"
        style="border: 2px solid #000000; margin-top: 50px"
      >
        <thead class="thead-dark">
          <td>Bug Name</td>
          <td>Project ID</td>
          <td>Module</td>
          <td>Build Version</td>
          <td>Synopsis</td>
          <td>Product</td>
          <td>Description</td>
          <td>Submitted Date</td>
          <td>ETA</td>
          <td>Status</td>
          <td>Priority</td>
          <td>Severity</td>
          <td>Type</td>
        </thead>

        <tbody>
          <tr *ngFor="let bug of bugArray; index as i">
            <td>{{ bug.name }}</td>
            <td>{{ bug.projectId }}</td>
            <td>{{ bug.module }}</td>
            <td>{{ bug.buildVersion }}</td>
            <td>{{ bug.synopsis }}</td>
            <td>{{ bug.product }}</td>
            <td>{{ bug.description }}</td>
            <td>{{ bug.submittedOn | date }}</td>
            <td>{{ bug.eta | date }}</td>
            <td>{{ bug.status }}</td>
            <td>{{ bug.priority }}</td>
            <td>{{ bug.severity }}</td>
            <td>{{ bug.type }}</td>
          </tr>
        </tbody>
      </table>
      <footer class="page-footer font-small blue" id="footer">
        <div class="footer-copyright text-center py-3">
          <small>© 2021 Copyright Code_with_HAT</small>
        </div>
      </footer>
    </div>
  </div>
</body>
