<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div
    class="container-fluid bg-muted"
    style="padding-top: 10px; padding-bottom: 10px"
  ></div>

  <div
    id="createNewBug"
    class="container tab-pane active"
    style="padding-bottom: 30px"
  >
    <!-- -------first row in create bug---------- -->
    <!-- Bug name and Project Id -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"
              ><b>Bug Name : </b><span style="color: red">*</span></label
            >
            <br />
            <input
              type="text"
              size="35"
              maxlength="50"
              class="form-control mb-2 mr-sm-2"
              id="name"
              [(ngModel)]="bug.name"
              required
            />
            <span class="pull-right char"
              ><em>{{ 50 - bug.name?.length }} characters left</em></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- -------second row in create bug---------- -->
    <!-- Module and Build Version -->
    <div class="row">
      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Project ID:</b><span style="color: red">*</span></label
          >
          <input
            type="text"
            size="35"
            class="form-control mb-2 mr-sm-2"
            id="projectId"
            [(ngModel)]="bug.projectId"
            required
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Build Version:</b><span style="color: red">*</span></label
          >
          <input
            type="text"
            size="35"
            class="form-control mb-2 mr-sm-2"
            id="buildVersion"
            [(ngModel)]="bug.buildVersion"
            required
          />
        </div>
      </div>
    </div>

    <!-- -------third row in create bug---------- -->
    <!-- Bug type and product -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"
              ><b>Module : </b><span style="color: red">*</span></label
            >
            <br />
            <input
              type="text"
              size="35"
              class="form-control mb-2 mr-sm-2"
              id="module"
              [(ngModel)]="bug.module"
              required
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Product:</b><span style="color: red">*</span></label
          >
          <input
            type="text"
            size="35"
            class="form-control mb-2 mr-sm-2"
            id="product"
            [(ngModel)]="bug.product"
            required
          />
        </div>
      </div>
    </div>

    <!-- -------fourth row in create bug---------- -->
    <!-- eta and priority -->
    <div class="row">
      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>ETA:</b><span style="color: red">*</span></label
          >
          <input
            type="date"
            [(ngModel)]="bug.eta"
            class="form-control mb-2 mr-sm-2"
            id="eta"
            required
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Severity :</b><span style="color: red">*</span></label
          >
          <!-- dropdown options -->
          <select
            class="custom-select custom-select mb-3"
            id="severity"
            style="width: 335px;"
            name="severity"
            [(ngModel)]="bug.severity"
            required
          >
            <option>CRITICAL</option>
            <option>MAJOR</option>
            <option>MINOR</option>
          </select>
        </div>
      </div>
    </div>

    <!-- -------fifth row in create bug---------- -->
    <!-- Status and severity -->
    <div class="row">
      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Priority : </b><span style="color: red">*</span></label
          >
          <!-- dropdown options -->
          <select
            class="custom-select custom-select mb-3"
            id="priority"
            style="width:335px;"
            name="priority"
            [(ngModel)]="bug.priority"
            required
          >
            <option>HIGH</option>
            <option>MEDIUM</option>
            <option>LOW</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Bug Type :</b><span style="color: red">*</span></label
          >
          <!-- dropdown options -->
          <select
            class="custom-select custom-select mb-3"
            id="type"
            style="width: 335px;"
            name="type"
            [(ngModel)]="bug.type"
            required
          >
            <option>SYNTAX</option>
            <option>COMPILE_TIME</option>
            <option>RUNTIME</option>
            <option>LOGICAL</option>
            <option>FUNCTIONAL</option>
            <option>CALCULATION</option>
          </select>
        </div>
      </div>
    </div>

    <!-- -------sixth row in create bug---------- -->
    <!-- synopsis and description -->
    <div class="row">
      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Synopsis : </b><span style="color: red">*</span></label
          >
          <textarea
            rows="2"
            maxlength="50"
            cols="25"
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="synopsis"
            [(ngModel)]="bug.synopsis"
            required
          ></textarea>
          <span class="pull-right char" style="font-size: small"
            ><em>{{ 50 - bug.synopsis?.length }} chars left</em></span
          >
        </div>
      </div>

      <div class="col">
        <div class="form-group form-inline">
          <label for="uname" class="mb-2 mr-sm-2"
            ><b>Description :</b><span style="color: red">*</span>
          </label>
          <div class="form-group">
            <textarea
              rows="2"
              cols="25"
              maxlength="200"
              type="text"
              class="form-control mb-2 mr-sm-2"
              id="description"
              [(ngModel)]="bug.description"
              required
            ></textarea>
            <span class="pull-right char" style="font-size: small"
              ><em>{{ 200 - bug.description?.length }} chars left</em></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ------------ submit button------------ -->
    <button type="submit" class="btn btn-success form-control" (click)="save()">
      Submit
    </button>

    <!-- footer -->
    <footer class="page-footer font-small blue" id="footer">
      <div class="footer-copyright text-center py-3">
        <small>© 2021 Copyright Code_with_HAT</small>
      </div>
    </footer>
  </div>
</body>
