.inputs{
  font-family:verdana;
  font-size:100%;
}

label {
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px;
}

input, label {

  float:left;
}
h1{
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}
h3{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

table{
  border-collapse:collapse;
  width:100%;
  border: 1px solid black;
}

th,td{
  border: 1px soild black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: grey;
}

tr,tr td:hover{
  background-color:white;
}

body {
	position: relative;
}

.title1 {
	height: 150px;
	position: relative;
	padding-top: 100px;
}

.body1 {
	width: 100%;
	float: left;
	position: relative;
}
