<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8" style="background-color: rgb(168, 215, 236)">
        <div class="paragraph">
          <p>
            A bug tracking system or defect tracking system is a software
            application that keeps track of reported software bugs in software
            development projects. This can be regarded as a type of issue
            tracking system.
          </p>
          <p>
            Here we help to save and search the bug details. A new bug can be
            saved to the database for the testing and development team to solve.
            The details of the bugs that are added to the database can be
            obtained from the search bug and view all bug fields.
          </p>
        </div>
      </div>
      <div class="col-sm-4 img-responsive">
        <img src="../assets/home.jpg" alt="home" />
      </div>
    </div>

    <footer class="page-footer font-small blue" id="footer">
      <div class="footer-copyright text-center py-3">
        <small>© 2021 Copyright Code_with_HAT</small>
      </div>
    </footer>
  </div>
</body>
